<h2>Hello {{firstName}} {{lastName}} !</h2>
<p>We received a request to add your email ID {{email}} to the CarBazaar account</p>

<p><a href="http://localhost:4200/verifyregisteremail/{{ email }}">Click here</a> within 48 hours to confirm this email ID and receive monthly statements, 
    transactions alerts, order updates, exciting offers & much more.</p>

<p>If you did not request this change, please let us know immediately at <a href=#>carbazaar.com/care</a></p>
<br>

<h2>CarBazaar Care Team </h2>
