

<p>You are receiving this because you (or someone else) have requested the reset of the password.
    Please click on the following link, or paste this into the browser to complete the process': 
    'http://localhost:4200/reset-password/{{email}}'.
If you did not request this, pleadse ignore this email and your password will remain unchanged.'</p>